.details_container {
    width: 100%;
    padding: 40px 10px;
    box-shadow: 0 0 4px 1px rgba(169, 167, 167, 0.48);
    height: calc(100vh - 50px);
}

.details_task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.task_input{
    width: 78%;
    margin-right: 7px;
}
.details_buttons_container{
    margin-top: 10px;
}
.details_buttons_container button {
    border: none;
    border-radius: 2px;
    color: white;
    height: 27px;
    margin-right: 7px;
    padding: 0 10px;
    font-size: 10px;
}
.details_buttons_container button:nth-child(1) {
    background-color: #35aef8;
}
.details_buttons_container button:nth-child(2) {
    color: black;
}
.details_buttons_container button:nth-child(3) {
    background-color: #ff5e5e;    
}