.list_item_container {
    width: 100%;
    padding: 6px;
    background-color: white;
    box-shadow: 0 0 2px 1px rgba(169, 167, 167, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.complete_button{
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    padding: 3px 5px;
    height: 20px;
}
.completed {
    color: gray;
    text-decoration: line-through;
}
.completed_container {
    background-color: lightblue;
}

.quick_options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73px;
}
.quick_delete {
    cursor: pointer;
}

p {
    font-size: 12px;
}